<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Toolbox.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TestDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPRemoteDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPLocalDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPSSLTLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPPASV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MailUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MailProtocol" serializeAs="String">
                <value />
            </setting>
        </Toolbox.Properties.Settings>
    </userSettings>
</configuration>